/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;  /* Alinea los elementos verticalmente */
  align-items: center;     /* Centra los elementos horizontalmente */
}

.App-logo {
  height: 200px;
  margin-bottom: 0%;  /* Ajusta este valor según sea necesario para agregar espacio */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 20px;  /* Ajusta este valor según sea necesario para agregar espacio */
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(255, 253, 253);
  font-weight: bold;
}

main {
  padding: 20px;
}
