/* src/App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-logo {
  height: 80px;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

main {
  padding: 20px;
}

/* Estilos para la página de cursos (Courses.js) */
.Courses ul {
  list-style-type: none;
  padding: 0;
}

.Courses li {
  margin-bottom: 20px;
}

/* Estilos para la página de contacto (Contact.js) */
.Contact ul {
  list-style-type: none;
  padding: 0;
}

.Contact li {
  margin-bottom: 10px;
}

.Contact strong {
  margin-right: 10px;
}
